@use "./colors" as *;

body {
  font-family: "Manrope", sans-serif;
  background-color: $dark-blue;
  color: $light-cyan;
  padding: 1rem;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.main {
  background-color: $grayish-blue-dark;
  border-radius: 10px;
  padding: 2.25rem 1.5rem 4rem;
  position: relative;
}

.advice-title,
.advice-content {
  text-align: center;
}

.advice-title {
  color: $neon-green;
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 3.5px;
}

.advice-content {
  padding: 1.35rem 0;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.375;
}

.divider {
  display: block;
  text-align: center;
}

.btn-dice {
  border: none;
  outline: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: $neon-green;
  position: absolute;
  left: 50%;
  bottom: -2rem;
  transform: translateX(-50%);
  transition: filter 0.3s ease;

  &:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 1rem $neon-green);
  }
}

// Footer
.attribution {
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  text-align: center;
  font-size: 0.8125rem;
  color: $light-cyan;

  a {
    text-decoration: none;
    color: $light-cyan;
    border-bottom: 1px solid $dark-blue;
    transition: border-bottom-color 0.3s ease;

    &:hover {
      border-bottom-color: $light-cyan;
    }
  }
}
